extends layout

block append content
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png', alt='...' class = "img-responsive")
        .caption
          h3 Thumbnail label
          p(class = "description") Gothic is a single-player action role-playing video game for Windows developed by the German company Piranha Bytes. It was first released in Germany on March 15, 2001, followed by the English North American release eight months later on November 23, 2001, and the Polish release on March 28, 2002.
          div.clearfix
            div(class = "price pull-left") $12
            a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png', alt='...' class = "img-responsive")
        .caption
          h3 Thumbnail label
          p(class = "description") Gothic is a single-player action role-playing video game for Windows developed by the German company Piranha Bytes. It was first released in Germany on March 15, 2001, followed by the English North American release eight months later on November 23, 2001, and the Polish release on March 28, 2002.
          div.clearfix
            div(class = "price pull-left") $12
            a.btn.btn-success.pull-right(href='#', role='button') Button
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png', alt='...' class = "img-responsive")
        .caption
          h3 Thumbnail label
          p(class = "description") Gothic is a single-player action role-playing video game for Windows developed by the German company Piranha Bytes. It was first released in Germany on March 15, 2001, followed by the English North American release eight months later on November 23, 2001, and the Polish release on March 28, 2002.
          div.clearfix
            div(class = "price pull-left") $12
            a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src='https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png', alt='...' class = "img-responsive")
        .caption
          h3 Thumbnail label
          p(class = "description") Gothic is a single-player action role-playing video game for Windows developed by the German company Piranha Bytes. It was first released in Germany on March 15, 2001, followed by the English North American release eight months later on November 23, 2001, and the Polish release on March 28, 2002.
          div.clearfix
            div(class = "price pull-left") $12
            a.btn.btn-success.pull-right(href='#', role='button') Button

  