extends layout

block append content
  each product in products
    .row
      each subproduct in product
        .col-sm-6.col-md-4
          .thumbnail
            img(src= subproduct.imagePath )
            .caption
              h3= subproduct.title
              p(class = "description")= subproduct.description
              div.clearfix
                div(class = "price pull-left")= subproduct.price
                a.btn.btn-success.pull-right(href='#', role='button') Add to the shopping cart