extends layout

block content
  if products
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        ul.list-group
          each product in products
            li.list-group-item
              span.badge= product.qty
              | &nbsp
              strong= product.item.title
              | &nbsp
              span.label.label-success $#{product.price}
              | &nbsp
              .btn-group
                i.btn-sm.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Action
                  span.caret
                ul.dropdown-menu
                  li
                    a(href = "#") Reduce by 1
                  li
                    a(href = "#") Reduce All
    hr
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        strong Total: #{totalPrice}
      .row
        .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
          i.btn.btn-success Checkout
  else
    .row
      .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
        h2 No Items in Cart


